html {
  --text-colour: #112D4E;
  --link-colour: #3F72AF;
  --background-colour: #F9F7F7;
  --sub-bg-colour: #DBE2EF;
  --gradation-bg: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --border-colour: #3F72AF;
  --font-size-small: clamp(10px, 16 / 426 * 100vw, 16px);
  --font-size-medium: clamp(18px, 22 / 426 * 100vw, 22px);
  --font-size-large: clamp(24px, 28 / 426 * 100vw, 28px);
}
@media (min-width: 766px) {
  html {
    --font-size-small: clamp(12px, 16 / 1344 * 100vw, 16px);
    --font-size-medium: clamp(20px, 24 / 1344 * 100vw, 24px);
    --font-size-large: clamp(26px, 34 / 426 * 100vw, 34px);
  }
}
@media (min-width: 1344px) {
  html {
    --font-size-small: 16px;
    --font-size-medium: clamp(22px, 25 / 1920 * 100vw, 26px);
    --font-size-large: clamp(32px, 42 / 426 * 100vw, 42px);
  }
}

html.dark {
  --text-colour: #DAE1E7;
  --link-colour: #00909E;
  --background-colour: #142850;
  --sub-bg-colour: #27496D;
  --gradation-bg: linear-gradient(25deg, #004e92, #000428);
  --border-colour: #00909E;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  isolation: isolate;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text-colour);
  background: var(--gradation-bg);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 96dvh;
  font-size: 16px;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1;
}

a {
  color: var(--link-colour);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

b {
  font-weight: bold;
}

input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  border: unset;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

button {
  border: unset;
}

[data-container] {
  container: layout/inline-size;
  margin-block: 12px;
  margin-inline: auto;
  width: min(90%, 1240px);
}
@media (min-width: 766px) {
  [data-container] {
    display: grid;
    grid-template-columns: auto minmax(10%, 600px);
    justify-content: start;
    column-gap: 20px;
  }
}
@media (min-width: 960px) {
  [data-container] {
    grid-template-columns: auto 600px minmax(10%, 380px);
    column-gap: 40px;
  }
}
@media (min-width: 766px) {
  [data-container] > main {
    border-left: 1px solid var(--sub-bg-colour);
    border-right: 1px solid var(--sub-bg-colour);
  }
}

section[data-about] figure.hero {
  margin-inline: calc(50% - 50vw);
  aspect-ratio: 3/1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 766px) {
  section[data-about] figure.hero {
    margin-inline: 0;
  }
}
section[data-about] section.outline {
  margin-top: max(-14vw, -62px);
  padding: 12px;
}
section[data-about] section.outline figure.face {
  overflow: hidden;
  aspect-ratio: 1/1;
  width: min(24vw, 100px);
  border-radius: 50%;
  border: solid 2px var(--background-colour);
}
section[data-about] aside {
  opacity: 0.8;
}
section[data-about] h2 {
  margin-top: min(4.6vw, 20px);
  font-size: var(--font-size-medium);
}
section[data-about] aside.email {
  margin-top: 8px;
}
section[data-about] p.intro {
  margin-top: min(5.2vw, 24px);
}
section[data-about] aside.list-wrapper {
  margin-top: min(5.2vw, 24px);
}
section[data-about] ul.list {
  display: grid;
  row-gap: 8px;
}
section[data-about] ul.list > li {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

ul[data-statuses] > li {
  overflow: hidden;
  border-top: 1px solid var(--border-colour);
}

[data-single] {
  padding-block: 12px;
  padding-inline: 16px;
}
[data-single] div.reply-article {
  display: flex;
  align-items: flex-start;
  column-gap: 12px;
  margin-block: 24px;
}
[data-single] figure.face {
  flex-shrink: 0;
  overflow: hidden;
  width: min(10.8vw, 46px);
  border-radius: 50%;
}
[data-single] figure.face img {
  aspect-ratio: 1/1;
}
[data-single] li.header > header ul {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 3fr);
  column-gap: 12px;
}
[data-single] li.header p {
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size-small);
  text-overflow: ellipsis;
}
[data-single] li.header li.name {
  font-weight: 700;
}
[data-single] li.header li.email, [data-single] li.header li.date {
  color: #72767a;
}

/*# sourceMappingURL=style.css.map */
