section[data-about] {
  figure.hero {
    margin-inline: calc(50% - 50vw);
    aspect-ratio: 3 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
      margin-inline: 0;
    }
  }

  section.out-line {
    margin-top: max(-14vw, -62px);
    padding: 12px;

    figure.face {
      overflow: hidden;
      aspect-ratio: 1/1;
      width: min(24vw, 100px);
      border-radius: 50%;
      border: solid 2px var(--background-colour);
    }
  }

  aside {
    opacity: 0.8;
  }

  h2 {
    margin-top: min(4.6vw, 20px);
    font-size: var(--font-size-medium);
  }

  aside.email {
    margin-top: 8px;
  }

  p.intro {
    margin-top: min(5.2vw, 24px);
  }

  aside.list-wrapper {
    margin-top: min(5.2vw, 24px);
  }

  ul.list {
    display: grid;
    row-gap: 8px;

    > li {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }
}