@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --text-colour: #112D4E;
  --link-colour: #3F72AF;
  --background-colour: #F9F7F7;
  --sub-bg-colour: #DBE2EF;
  --gradation-bg: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  --border-colour: #3F72AF;
  --font-size-small: clamp(10px, 12 / 426 * 100vw, 12px);
  --font-size-medium: clamp(14px, 16 / 768 * 100vw, 16px);
  --font-size-large: clamp(18px, 20 / 1024 * 100vw, 20px);

  /* md: */
  @media (min-width: 768px) {
    --font-size-small: clamp(12px, 14 / 426 * 100vw, 14px);
    --font-size-medium: clamp(16px, 18 / 768px * 100vw, 18px);
    --font-size-large: clamp(20px, 22 / 1024 * 100vw, 22px);
  }

  /* lg: */
  @media (min-width: 1024px) {
  }

  /* xl: */
  @media (min-width: 1280px) {
  }

  /* 2xl: */
  @media (min-width: 1536px) {
  }
}

html.dark {
  --text-colour: #DAE1E7;
  --link-colour: #00909E;
  --background-colour: #142850;
  --sub-bg-colour: #27496D;
  --gradation-bg: linear-gradient(25deg, #004e92, #000428);
  --border-colour: #00909E;
}