html {
  --text-colour: #112D4E;
  --link-colour: #3F72AF;
  --background-colour: #F9F7F7;
  --sub-bg-colour: #DBE2EF;
  --border-colour: #3F72AF;
  --font-size-small: clamp(10px, 16 / 426 * 100vw, 16px);

  @media (min-width: 766px) {
    --font-size-small: clamp(12px, 16 / 1344 * 100vw, 16px);
  }

  @media (min-width: 1344px) {
    --font-size-small: 16px;
  }
}

html.dark {
  --text-colour: #DAE1E7;
  --link-colour: #00909E;
  --background-colour: #142850;
  --sub-bg-colour: #27496D;
  --border-colour: #00909E;
}