[data-main-nav] {
  ul.nav-list {
    display: none;
    position: sticky;
    top: 12px;

    @container layout (min-width: 680px) {
      display: grid;
      width: 80px;
    }

    @container layout (min-width: 1240px) {
      width: 230px;
    }
  }

  div.text {
    display: none;

    @container layout (min-width: 1240px) {
      display: block;
    }
  }

  li {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-block: 14px;
    font-size: var(--font-size-medium);
    cursor: pointer;

    @container layout (min-width: 1240px) {
      justify-content: flex-start;
    }

    &.home {
      font-weight: 700;
    }

    &:hover {
      opacity: 0.8;
      transition: 0.4s;
    }
  }

  li.button {
    &:hover {
      opacity: 1;
    }
  }
}

[data-mobile-nav-layer] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.1s;

  &[data-active='false'] {
    max-height: 0;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

[data-mobile-nav] {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  inset-inline: 0;
  margin-inline: 0 auto;
  overflow-y: scroll;
  padding-block: min(2.8vw, 12px);
  padding-inline: min(4.6vw, 20px);
  width: min(71.4vw, 304px);
  background-color: var(--background-colour);
  transition: 0.4s;
  box-shadow: rgb(217 217 217 / 20%) 2px 2px 4px;

  &[data-active='false'] {
    padding: 0;
    width: 0;
    transition: 0.4s;

    * {
      opacity: 0;
      transition: 0.4s;
    }
  }

  ul.nav-list {
    margin-top: min(7.5vw, 32px);

    li {
      display: flex;
      column-gap: min(4.6vw, 20px);
      padding-block: min(2.8vw, 12px);
    }
  }
}
