[data-main-nav] {
  ul {
    display: none;

    @container layout (min-width: 680px) {
      display: grid;
      width: 80px;
    }

    @container layout (min-width: 1240px) {
      width: 260px;
    }
  }

  div.text {
    display: none;

    @container layout (min-width: 1240px) {
      display: block;
    }
  }

  li {
    display: flex;
    column-gap: 20px;
    padding-block: 12px;
    font-size: var(--font-size-medium);
    cursor: pointer;

    &.home {
      font-weight: 700;
    }

    &:hover {
      opacity: 0.8;
      transition: 0.4s;
    }
  }
}

[data-mobile-nav-layer] {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.1s;

  &[data-active='false'] {
    max-height: 0;
    min-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

[data-mobile-nav] {
  display: grid;
  row-gap: 40px;
  position: fixed;
  z-index: 10;
  top: 70px;
  bottom: 0;
  inset-inline: 0;
  margin-inline: 0 auto;
  overflow-y: scroll;
  width: min(71.4vw, 304px);
  background-color: var(--background-colour);
  transition: 0.4s;
  box-shadow: rgb(217 217 217 / 20%) 2px 2px 4px;

  &[data-active='false'] {
    padding: 0;
    width: 0;
    transition: 0.4s;
  }
}
