[data-status] {
  overflow: hidden;
  padding-block: 16px;
  padding-inline: 12px;

  article {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
  }

  figure.face {
    flex-shrink: 0;
    overflow: hidden;
    width: min(10.8vw, 46px);
    border-radius: 50%;
    img {
      aspect-ratio: 1/1;
    }
  }

  div.body {
    width: 100%;
    min-width: 0;

    header {
      ul {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 3fr);
        column-gap: 12px;
      }
      p {
        overflow: hidden;
        white-space: nowrap;
        font-size: var(--font-size-small);
        text-overflow: ellipsis;
      }

      li.name {
        font-weight: 700;
      }

      li.email, li.date {
        color: #72767a;
      }
    }
  }
  &[data-has-reply='true'] {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: min(8.2vw, 34px);
      width: 2px;
      height: 100%;
      background-color: var(--border-colour);
    }
  }
}

[data-status-body] {
  cursor: pointer;

  > * {
    margin-top: 10px;
  }

  h1, h2, h3,
  h4, h5, h6 {
    font-size: var(--font-size-medium);
  }

  > p, > ul,
  > ol, > code,
  > blockquote {
    font-size: var(--font-size-small);
  }

  > p {
    line-height: 1.5;
  }

  > ul {
    list-style-type: disc;
  }
  
  > ul, > ol {
    padding-left: 1.5ch;
    line-height: 1.5;
  }

  > blockquote {
    padding: 12px;
    border-radius: 4px;
    background-color: var(--sub-bg-colour);
  }
}

[data-single-body] {
  > * {
    margin-top: 42px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size-large);
  }

  > p, > ul,
  > ol, > code,
  > blockquote {
    font-size: var(--font-size-medium);
  }

  > p {
    line-height: 1.6;
  }

  > ul {
    list-style-type: disc;
  }

  > ul, > ol {
    padding-left: 2ch;
    line-height: 1.8;
  }

  > blockquote {
    padding: 12px;
    border-radius: 4px;
    background-color: var(--sub-bg-colour);
  }
}

[data-ogp-link] {
  overflow: hidden;
  position: relative;
  border: solid 1px var(--sub-bg-colour);
  border-radius: 16px;

  a {
    text-decoration: unset;
  }

  div.og-text {
    padding: 12px;
    color: var(--text-colour);
  }

  h2 {
    padding-block: 8px;
  }

  aside, p {
    color: #72767a;
  }
}